<div>
  <mat-card>
    <mat-card-header>
        <mat-card-title>
          Friends
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width-field" appearance="outline" > 
        <mat-label>Search Friends</mat-label>
        <input type="text" matInput placeholder="Search" [(ngModel)]="search" (input)="filter()">
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
    </mat-card-content> 
    </mat-card>
    <div class="friends-content">
      <div id="friendsSearch">
      <h2>Search Result</h2>
        <mat-card *ngFor="let user of searchFriends" class="mat-elevation-z4">
          <mat-card-title>{{user.name}}</mat-card-title>
          <mat-card-content>{{user.email}}</mat-card-content>
          <mat-card-actions align="end">
            <button mat-icon-button *ngIf="!user.friend" (click)="addFriend(user.id)">
              <mat-icon *ngIf="!user.friend">person_add</mat-icon>
             </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="friends-content">
      <h2>My Friends</h2>
      <div *ngIf="this.friends.length === 0"> You have no friends :(</div>
      <mat-card *ngFor="let user of friends" class="mat-elevation-z4">
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-content>{{user.email}}</mat-card-content>
          <mat-card-actions align="end">
            <button mat-icon-button
            color="warn"
            (click)="removeFriend(user.id)">
            <mat-icon>delete</mat-icon></button>
          </mat-card-actions>
      </mat-card>
      
    </div>
</div>

