<div>
  <mat-card>
    <mat-card-header>
        <mat-card-title>
        Your Games
        </mat-card-title>
    </mat-card-header>
    </mat-card>
    <div fxLayout="row wrap">
    <div class="library-content">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let game of favouriteGames">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{game.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="price">{{game.price}}₴</p>
              <p>
                {{game.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Download</button>
              <button mat-raised-button color="warn">Share</button>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>
  </div>
</div>




