<div class="form-content">
  <mat-card class="mat-elevation-z4">
    <mat-card-title align="center">
      Sign in
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field class="form-group" appearance="outline">
            <mat-label for="username">Username</mat-label>
            <input matInput type="text" formControlName="username"/>
        </mat-form-field>
        <mat-form-field class="form-group" appearance="outline">
            <mat-label for="password">Password</mat-label>
            <input matInput type="password" formControlName="password"/>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <div *ngIf="error">{{error}}</div>
    </form>
    </mat-card-content>
  </mat-card>
</div>
