<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>
    <span class="logo">
      <img src="assets/steam_logo.png" alt="Logo" />
    </span>
  </span>
  <mat-nav-list *ngIf="user">
   <a mat-list-item  *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active"> {{link.title}} </a>
 </mat-nav-list>
  <span class="spacer"></span>
  <button class="login" mat-mini-fab [routerLink]="'/login'">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>


