<div>
  <mat-card>
    <mat-card-header>
        <mat-card-title>
        Games
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width-field" appearance="outline">
        <mat-label>Search Games</mat-label>
        <input type="text" matInput placeholder="Search" [(ngModel)]="search" (input)="filter()" >
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
    </mat-card-content>
    </mat-card>
    <div fxLayout="row wrap">
    <div class="games-content" fxFlex="80%" >
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let game of filteredGames">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{game.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="price">{{game.price}}₴</p>
              <p>
                {{game.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="!game.favourite; else elseBlock" mat-raised-button color="primary" (click)="addGame(game.id)">Add to Library</button>
              <ng-template #elseBlock><a href="/library"><mat-icon color="warn">favorite</mat-icon></a></ng-template>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>
  </div>
  <div class="filters" fxFlex="20%">
    <mat-card class="mat-elevation-z4">
      <div class="filter-item">
        <h2>Filter by price</h2>
        <mat-slider min="0" max="3500" step="20" [(ngModel)]="slider" (change)="filter()"></mat-slider>
        <div><label>{{slider}}</label></div>
      </div>
      <div class="filter-item">
      <h2>Filter by Tag</h2>
        <p><mat-checkbox  (input)="filter()" [(ngModel)]="checkboxes.indie">Indie</mat-checkbox></p>
        <p><mat-checkbox  (input)="filter()" [(ngModel)]="checkboxes.action">Action</mat-checkbox></p>
        <p><mat-checkbox  (input)="filter()" [(ngModel)]="checkboxes.adventure"> Adventure</mat-checkbox></p>
    </div>
    </mat-card>
  </div>
</div>



