<div class="form-content">
  <mat-card class="mat-elevation-z4">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <mat-card-title align="center">
      Profile
    </mat-card-title>
    <mat-card-content *ngIf="userFromApi">
      <div class="profile-form">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput value={{userFromApi.name}}>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput value={{userFromApi.username}}>
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput value={{userFromApi.email}} disabled>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput value={{userFromApi.age}}>
      </mat-form-field>
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="accent" (click)="logout()">Logout</button>
    </div>
    </mat-card-content>
  </mat-card>
</div>
