
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$steamlike-app-primary: mat.define-palette(mat.$indigo-palette);
$steamlike-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$steamlike-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$steamlike-app-theme: mat.define-light-theme((
  color: (
    primary: $steamlike-app-primary,
    accent: $steamlike-app-accent,
    warn: $steamlike-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($steamlike-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
logo {
  margin-left: 20px;

  img {
    vertical-align: middle;
    height: auto;
  }
}

.mat-nav-list {
  display:flex!important;
  flex-direction: row; 
}
.mat-list-item {
  color:#fff!important;
}
.mat-list-item:hover {
  cursor: pointer;
  background: whitesmoke;
}
    
.spacer {
  flex: 1 1 auto;
}

.full-width-field {
  width: 100%;
}

.hidden {
  display:none;
}

.games-content,
.library-content {
  padding: 20px;
  mat-card {
    height: 230px;
    padding: 20px;
    .mat-card-header {
      justify-content: center;
    }
    mat-card-actions {
      padding-top: 30px;
    }
  }
  .price {
    font-size: 2em;
    padding-top: 50px;
    text-align: end;

  }
}

.filters{
  padding: 20px;
  mat-card {
    height: 40vh;
  }
  .filter-item{
  margin-bottom: 20px;
 }
} 

.library-content {
  width:100%;
}

.friends-content{
  box-sizing: border-box;
  padding:20px;
  width:100%;
  mat-card {
    margin: 10px;
  }
}

.form-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card{
    padding:50px;
  }
  .login-form,
  .profile-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .mat-raised-button {
width: 100%;
    }
    button {
      margin-bottom: 20px;
    }
  }
}

